<a href="https://colab.research.google.com/github/sabhashanki/Fraudulent_Transaction/blob/main/Fraud_Detection_Insaid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('https://drive.google.com/uc?export=download&confirm=6gh6&id=1VNpyNkGxHdskfdTNRSjjyNa5qC9u0JyV')

In [7]:
df.sample(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
3492692,258,PAYMENT,32982.34,C1528362235,1603.0,0.00,M1839090161,0.00,0.00,0,0
672898,36,PAYMENT,14797.51,C2083507246,0.0,0.00,M1391992947,0.00,0.00,0,0
1727109,160,CASH_IN,52573.26,C1612484596,400033.6,452606.87,C494571826,271228.59,218655.33,0,0
2567597,206,PAYMENT,3889.49,C969011770,862.0,0.00,M463452918,0.00,0.00,0,0
3076873,235,CASH_OUT,225809.81,C86191351,21560.0,0.00,C433376124,0.00,225809.81,0,0
4857055,348,CASH_OUT,6511.06,C2084126067,0.0,0.00,C732019741,1493081.12,1499592.18,0,0
1866005,164,CASH_OUT,199472.63,C991249112,0.0,0.00,C544814435,1190127.50,1389600.13,0,0
5078930,355,CASH_IN,81649.34,C89917963,413784.0,495433.34,C506298522,0.00,0.00,0,0
6336988,691,TRANSFER,73462.26,C1598093576,40986.0,0.00,C772989264,0.00,73462.26,0,0
5941417,404,CASH_OUT,8546.37,C1644613251,813.0,0.00,C2108654269,28055.99,36602.37,0,0